
body {
  background-image: linear-gradient(white ,white,white,grey );
  width:100%;
  height: 200%;
  margin: auto;
  overflow-x: hidden;
  margin: auto;
  font-family: Perpetua,serif;
}
div.Logo{
  width:1000px;
}
.Logo{
  padding-top: 15px;
  position:relative;
  left:200px
}

.box{
  padding-top: 8px;
  position:relative;
  left:350px;
  top:0px;
  transition: all .5s;
}
div.Logo{
  padding-top: 15px;
  float: left;
}