

/*leave all the same just sort out ;last css for the button padding to be pulled doewn */
html {
  font-size: 10px;
  font-family: Verdana, Arial, sans-serif;
}


.container {
   font-size: 10px;
  font-family: Verdana, Arial, sans-serif;
  background:#E2DCCD;
  max-width: 1140px;
  margin: 0 auto;
  padding: 6rem 2rem;
}

h1 {
  text-align: center;
  color: black;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
  text-shadow: 1px 1px 0 var(--bg), 2px 2px 0 var(--accent);
}

/* Form */

.form-control {
  width: 100%;
  margin-bottom: 2rem;
  padding: 2.2rem;
  border-radius: 4px;
  border: none;
  font-size: 1.6rem;
  border: 2px solid transparent;
  font-family: Verdana, Arial, sans-serif;
}

.form-control::placeholder {
  color: #9da1a5;
  font-weight: bold;
}

.message {
  resize: vertical;
  min-height: 15rem;
}

.form-control:focus,
.message:focus {
  outline: none;
  border: 2px solid var(--accent);
}

.btn {
  background-color: #f5f2d0;
  color: black;
  width: auto;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-bottom: 3.8rem;
  margin: 0 auto;
  cursor: pointer;
}

.btn:hover {
  background-color: #fec810;
}

.btn:active {
  box-shadow: 0px 0px 0px 4px rgba(254, 209, 54, 0.6);
}

@media (min-width: 700px) {
  form {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .form-control {
    width: auto;
    margin: 0;
  }

  .message {
    grid-column: 2;
    grid-row: 1 / span 3;
  }

  .btn {
    justify-self: center;
    grid-column: span 2;
  }
}
