/* The navigation bar */
.navbar {       
  margin-right: auto;    
  margin-left: auto;    
  max-width: 100%;    
  min-width: 100%;
  position: fixed;
  border:6px;
  border-color: black;
  font-size: 25px;
  font-family: Perpetua,serif;
  border-radius: 13px;
}

.navbar a {
  border-radius: 4px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 0px 37px;
  text-decoration: none;
}
.navbar a:hover {
  background: #ddd;
  color: black;
  shape-inside: circle(10px ,10px);
  text-decoration: none;
}

