

#sidebar{
    float:left;
    background:#fff;
    width:275px;    
    padding:13px 0 0 45px;
    height:1400px;
    border-right:1px solid #eee;
}
#sidebar h3{
    color:#262626;
    text-transform:uppercase;
    font-size:14px;
    font-weight:700;
    padding:35px 0 10px 0;
    letter-spacing:1px;
    clear:both;
}

#sidebar .checklist{
    padding:0;
}

.checklist ul li{   
    font-size:14px;
    font-weight:400;
    list-style:none;
    padding: 7px 0 7px 23px;
}
.checklist li span{
    float:left;
    width:11px;
    height:11px;
    margin-left:-23px;
    margin-top:4px;
    border: 1px solid #d1d3d7;
    position:relative;  
}
.sizes li span, .categories .sizes li{
    -webkit-transition: all 300ms ease-out;
       -moz-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
         -o-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
}
.checklist li a{
    color:#676a74;
    text-decoration:none;   
    -webkit-transition: all 300ms ease-out;
       -moz-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
         -o-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
}
.checklist li a:hover{  
    color:#222;
    -webkit-transition: all 300ms ease-out;
       -moz-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
         -o-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
}
.checklist a:hover span{    
    border-color:#a6aab3;   
}
.sizes a:hover span, .categories a:hover span{  
    border-color:#a6aab3;
    -webkit-transition: all 300ms ease-out;
       -moz-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
         -o-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
}
.checklist a s